
//== XF Footer style, used on page template

footer.experiencefragment {
    padding: 25px;
    background-color: #2a2a2a;
    color: white;

    @media (prefers-color-scheme: dark) {
        border-color: $color-foreground-dark;
    }

    .cmp-separator__horizontal-rule {
      border-top: 3px solid #999;
      margin: 0;
    }
}
